rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
  	match /businesses/{business}{
    	allow read: if true
    }
    
    match /products/{product}{
    	allow read: if true
      match /reviews/{review}{
      	allow read: if true
      	allow write: if request.auth.uid != null;
      }
    }

    match /users/{user} {
      allow read: if true;
      allow write: if request.auth.uid != null;
    }
    
  }
}
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if request.auth!=null;
    }
  }
}
